<html>
<div>
<h1> This is the index view for Articles</h1>
</div>
<table class="table table-striped">
	<tr>
		<th>Title</th>
		<th>Published date</th>
		<th>Category</th>
		<th>Content</th>
	</tr>

	<% @articles.each do |article| %>
  		<tr>
  			<td><h5><%= link_to article.title, article %></h5></td>
          	<td><p>Published on <%= article.created_at.strftime('%b %d, %Y') %></p></td>
    		<td><p>Filed under: <% article.categories.each do |category| %>
                      <%= link_to category.name, category %>
                    <% end %></p></td>
    		<td><p><%= truncate(article.content, length: 200) %></p></td>
    	</tr>
  
	<% end %>
</table>
</div>
</html>


